/* BEGIN: Simple CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after { box-sizing: inherit; }
html { font-family: sans-serif; }
body { margin: 8px; }
[hidden] { display: none; }
/*
 * WhatWG link resets.
 * https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3
 */
:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }
:link, :visited { text-decoration: underline; cursor: pointer; }
/* END: Simple CSS resets */

h1 {
  font-size: 3em;
  margin: 18px 0;
}

h2 {
  font-size: 2em;
  margin: 16px 0;
}

h3 {
  font-size: 1.5em;
  margin: 14px 0;
}

h4 {
  font-size: 1.25em;
  margin: 12px 0;
}

h5 {
  font-size: 1.125em;
  margin: 10px 0;
}

h5 {
  font-size: 1em;
  margin: 8px 0;
}

p, hr, ul, ol {
  max-width: 60em;
}

p {
  margin-top: 12px;
}

p.callout {
  font-size: 2em;
}

ul, ol {
  padding-left: 40px;
  margin-top: 12px;
}

hr {
  margin: 2em 0;
}

a.image-link {
  text-decoration: none;
}

/* A callout-link makes important links stand out forever. */
a.callout-link:link,
a.callout-link:active,
a.callout-link:visited,
a.callout-link:hover {
  color: #0000EE;
}

p.release-date {
  margin-top: 0;
  font-style: italic;
  font-size: 75%;
}

.logos {
  margin-top: 4em;
}

.license {
  margin-top: 2em;
}

.bandcamp-small-screen-image {
  position: absolute;
  right: 8px;
  width: 48px;
  height: 48px;
}

/* Bandcamp embed images appear at 416px+ */
@media only screen and (min-width: 416px) {
  .bandcamp-small-screen-image {
    display: none;
  }
}
